.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginContainer .loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 45vh;
    width: 45vw;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  }

  .loginContent {
    background: whitesmoke;
  }
  
  .loginContent .loginTitulo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .loginContent input {
    height: 3vh;
    width: 30vw;
    margin: 10px;
  }
  
  .loginContent button {
    background: url('../icons/enter1.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: all .3s;
  }
  .loginContent button:hover {
    transform: scale(1.09);
  }