@font-face {
  font-family: 'quicksandlight';
  src: url('./fonts/finalFonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/finalFonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twoitalic';
  src: url('./fonts/finalFonts/lobstertwo-italic-webfont.woff2') format('woff2'),
       url('./fonts/finalFonts/lobstertwo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twobold_italic';
  src: url('./fonts/finalFonts/lobstertwo-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/finalFonts/lobstertwo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'quicksandlight';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.headerContainer {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.headerContainer div {
  padding-right: 5px;
}

.pageHome, .firstSearch,
.videoHome, .loginContainer,
.recoveryContainer, .registerContainer,
.searchPage, .showHomeContainer,
.createHomeContainer, .profileContainer,
.myHomesContainer  {
  height: 70vh;
  width: 100%;
  
}

.pageHome {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lobster_twobold_italic';
}

.firstSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  background: rgba(0,0,0, 0.3);
}

.videoHome {
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.logo {
  left: 100%;
  background: url('./icons/logo2.png') no-repeat;
  background-size: contain;
  height: 8vh;
  width: 8vw;
}

.footerContainer {
  background: #F5C634;
  bottom: 0;
  right: 0;
  left:0;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.footerContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.linksContainer {
  display: flex;
}

.App-link {
  color: #61dafb;
}

.headerContainer, .loginContainer,
.recoveryContainer, .registerContainer,
.pageHome, .searchPage, .resetContainer,
.validateContainer, .showHomeContainer,
.createHomeContainer, .profileContainer,
.myHomesContainer {
  position:relative;
  z-index: 2;
  background: whitesmoke;
}
