@font-face {
  font-family: 'quicksandlight';
  src: url('./fonts/finalFonts/quicksand-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/finalFonts/quicksand-variablefont_wght-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lobster_twoitalic';
  src: url('./fonts/finalFonts/lobstertwo-italic-webfont.woff2') format('woff2'),
    url('./fonts/finalFonts/lobstertwo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lobster_twobold_italic';
  src: url('./fonts/finalFonts/lobstertwo-bolditalic-webfont.woff2')
      format('woff2'),
    url('./fonts/finalFonts/lobstertwo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'quicksandlight', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 300px;
}

textarea,
input {
  font-family: 'quicksandlight', sans-serif;
}

.App button {
  font-family: 'quicksandlight', sans-serif;
  font-weight: bold;
}

.App h1 {
  font-family: 'lobster_twobold_italic', sans-serif;
  font-size: 45px;
}

.App textarea {
  resize: none;
}

.App a {
  text-decoration: none;
  color: black;
}

.App a:hover {
  color: #d8ad2e;
}

html {
  scroll-behavior: smooth;
}

.errorBoundaryContainer {
  display: flex;
  justify-content: center;
}

.errorBoundary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  width: 35vw;
  height: 60vh;
}

.pulp {
  background: url('./icons/pulp.gif') no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.pageHome,
.errorBoundaryContainer,
.firstSearch,
.videoHome,
.loginContainer,
.recoveryContainer,
.registerContainer,
.searchPage,
.showHomePage,
.createHome,
.profileContainer,
.myHomesContainer,
.updateContainer,
.myBookingsContainer,
.updateHomeContainer,
.bookingIdContainer,
.resetContainer,
.changeEmailContainer {
  height: 1100px;
  width: 100%;
}

.loginContainer,
.changeEmailContainer,
.recoveryContainer,
.registerContainer,
.pageHome,
.searchPage,
.resetContainer,
.validateContainer,
.showHomePage,
.createHome,
.profileContainer,
.updateContainer,
.updateHomeContainer,
.bookingIdContainer,
.errorBoundaryContainer {
  position: relative;
  z-index: 1;
  background: linear-gradient(-340deg, #f5c634 50%, whitesmoke 0%);
  box-shadow: 0px 8px 2px -2px rgba(0, 0, 0, 0.75);
}

.headerContainer {
  position: relative;
  background: whitesmoke;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.headerContainer div {
  padding-right: 5px;
}

.userMenu {
  margin-right: 15vw;
}

.burgerUser {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  transition: all 0.3s;
  cursor: pointer;
}

.burgerUser:hover {
  background: #f5c634;
}

.burgerUser:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.linksContainer .userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer .avatar {
  height: 50px;
  width: 50px;
  background: url('./icons/ava_0010-512.v1443724322.png');
  background-size: cover;
  border-radius: 50%;
}

.userLinks {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  right: 16vw;
  top: 8vh;
}

.userLinks a {
  padding: 3px;
}

.userLinks a:hover {
  color: #d8ad2e;
}

.logout {
  width: 100px;
  height: 25px;
  border-radius: 5px;
}

.logout:hover {
  background: #f5c634;
}

.logout:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.logo {
  left: 100%;
  background: url('./icons/marcador-de-posicion1.png') no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin-left: 15vw;
}

.footerContainer {
  background: linear-gradient(340deg, #f5c634 40%, #d8ad2e 0%);
  bottom: 0;
  left: 0;
  height: 300px;
  width: 100%;
  position: fixed;
}

.footerContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.linksContainer {
  display: flex;
}

.App-link {
  color: #61dafb;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 25px;
}

.footerLeft {
  margin-bottom: 40px;
  width: 600px;
}

.footerRight {
  width: 600px;
}

.footerRight div {
  text-align: justify;
  font-size: 20px;
}

.footerRight a {
  font-family: 'lobster_twoitalic', sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.footerRight a:hover {
  font-size: 30px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLinks1,
.footerLinks2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerLink {
  width: 40px;
  height: 40px;
  margin: 0 15px 15px 0;
  transition: all 0.3s;
}

.footerLink:hover {
  transform: scale(1.1);
}

.facebookFooter {
  background: url('./icons/facebook.png') no-repeat;
  background-size: contain;
}
.youtubeFooter {
  background: url('./icons/youtube.png') no-repeat;
  background-size: contain;
}
.instagramFooter {
  background: url('./icons/instagram.png') no-repeat;
  background-size: contain;
}
.twitterFooter {
  background: url('./icons/gorjeo.png') no-repeat;
  background-size: contain;
}
.linkedinFooter {
  background: url('./icons/linkedin.png') no-repeat;
  background-size: contain;
}
.githubFooter {
  background: url('./icons/signo-de-github.png') no-repeat;
  background-size: contain;
}

.prueba1 {
  background: url('./icons/double-left-arrows-symbol.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.prueba2 {
  background: url('./icons/fast-forward-double-right-arrows-symbol.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1300px) {
  .footerLeft,
  .footerRight {
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .pageHome,
  .errorBoundaryContainer,
  .firstSearch,
  .videoHome,
  .loginContainer,
  .recoveryContainer,
  .registerContainer,
  .searchPage,
  .showHomePage,
  .createHome,
  .profileContainer,
  .myHomesContainer,
  .updateContainer,
  .myBookingsContainer,
  .updateHomeContainer,
  .bookingIdContainer,
  .resetContainer,
  .changeEmailContainer {
    height: 950px;
  }
  .burgerUser {
    width: 60px;
    height: 25px;
  }
  .userLinks {
    width: 25vw;
    padding: 7px;
    right: 18vw;
  }
  .logout {
    width: 55px;
    height: 45px;
    border-radius: 5px;
  }
  .footerLeft,
  .footerRight {
    width: 200px;
  }
  .footerLeft h1 {
    font-size: 40px;
  }
  .footerRight div {
    font-size: 17px;
  }
  .footerLink {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
  }
}

@media screen and (max-width: 430px) {
  .pageHome,
  .errorBoundaryContainer,
  .firstSearch,
  .videoHome,
  .loginContainer,
  .recoveryContainer,
  .registerContainer,
  .searchPage,
  .showHomePage,
  .createHome,
  .profileContainer,
  .myHomesContainer,
  .updateContainer,
  .myBookingsContainer,
  .updateHomeContainer,
  .bookingIdContainer,
  .resetContainer,
  .changeEmailContainer {
    height: 800px;
  }
  .burgerUser {
    margin-left: 3px;
    font-size: 13px;
    width: 55px;
    height: 22px;
  }
  .userLinks {
    width: 30vw;
    padding: 5px;
    right: 5vw;
  }
  .footerLeft,
  .footerRight {
    width: 150px;
  }
  .footerLeft h1 {
    font-size: 30px;
  }
  .footerRight div {
    font-size: 15px;
  }
  .footerLink {
    width: 20px;
    height: 20px;
    margin: 0 5px 5px 0;
  }
  input {
    font-size: 12px;
  }
  .userMenu {
    margin-right: 0;
  }
}
