@font-face {
  font-family: 'quicksandlight';
  src: url('./fonts/finalFonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/finalFonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twoitalic';
  src: url('./fonts/finalFonts/lobstertwo-italic-webfont.woff2') format('woff2'),
       url('./fonts/finalFonts/lobstertwo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twobold_italic';
  src: url('./fonts/finalFonts/lobstertwo-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/finalFonts/lobstertwo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'quicksandlight', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 1000px;
}

.App button {
  font-family: 'quicksandlight', sans-serif;
  font-weight: bold;
}

/* .App button:active {
  background: whitesmoke;
} */

.App h1 {
  font-family: 'lobster_twobold_italic', sans-serif;
  font-size: 45px;
}

.App textarea {
  resize: none;
}

.App a {
  text-decoration: none;
  color: black;
}

.App a:hover {
  color:#d8ad2e
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.pageHome, .firstSearch,
.videoHome, .loginContainer,
.recoveryContainer, .registerContainer,
.searchPage, .showHomePage,
.createHome, .profileContainer,
.myHomesContainer, .updateContainer,
.myBookingsContainer, .updateHomeContainer,
.bookingIdContainer, .resetContainer,
.changeEmailContainer {
  height: 100vh;
  width: 100%;
}

.loginContainer, .changeEmailContainer,
.recoveryContainer, .registerContainer,
.pageHome, .searchPage, .resetContainer,
.validateContainer, .showHomePage,
.createHome, .profileContainer,
 .updateContainer, .updateHomeContainer,
.bookingIdContainer {
  position:relative;
  z-index: 1;
  background: linear-gradient(-340deg, #F5C634 50%, whitesmoke 0%);
  box-shadow: 0px 8px 2px -2px rgba(0, 0, 0, 0.75);;
}

.headerContainer {
  position:relative;
  background: whitesmoke;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.headerContainer div {
  padding-right: 5px;
}

.userMenu {
  margin-right: 15vw
}

.burgerUser {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 5vw;
  height: 3vh;
  transition: all .3s;
  cursor: pointer;
}

.burgerUser:hover {
  background: #F5C634;
}

.burgerUser:active {
  background: whitesmoke;
  transform: scale(0.99);
}


.linksContainer .userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer .avatar {
  height: 50px;
  width: 50px;
  background: url('./icons/ava_0010-512.v1443724322.png');
  background-size: cover;
  border-radius: 50%;
}

.userLinks {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  right: 16vw;
  top: 8vh;
}

.userLinks a {
  padding: 3px;
}

.userLinks a:hover {
  color: #d8ad2e;
}

.logout {
  width: 6vw;
  height: 3vh;
  border-radius: 5px;
}

.logout:hover {
  background: #F5C634;
}

.logout:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.logo {
  left: 100%;
  background: url('./icons/marcador-de-posicion1.png') no-repeat;
  background-size: contain;
  height: 8vh;
  width: 8vw;
  margin-left: 15vw;
}

.footerContainer {
  background: linear-gradient(340deg, #F5C634 40%, #d8ad2e 0%);
  bottom: 0;
  left:0;
  height: 1000px;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.footerContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.linksContainer {
  display: flex;
}

.App-link {
  color: #61dafb;
}
