.myBookingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.myBookingsContent {
    border: 1px solid black;
    border-radius: 5px;
    background: whitesmoke;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBookingsContainer ul {
    list-style: none;
    padding-left: 0;
}

.bookingIdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookingIdContent {
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    width: 40vw;
}

.bookingIdContent ul {
    list-style: none;
    padding-left: 0;
}

.reservarContainer {
    border: 1px solid black;
    border-radius: 5px;
    width: 25vw;
    padding: 15px;
    margin-top: 20px;
}

.reservarLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservarLabel input {
    height: 3vh;
    width: 7vw;
    margin: 10px;
    border-radius: 5px;
}

.reservarContainer button {
    font-weight: bold;
    border-radius: 5px;
    height: 3vh;
    width: 5vw;
    margin: 15px;
    cursor: pointer;
    transition: all .3s;
}