.pageHome {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'lobster_twobold_italic';
  }

  .firstSearch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: whitesmoke;
    background: rgba(0,0,0, 0.4);
    font-size: 25px;
  }
  
  .firstSearchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .firstSearchForm input[type=text] {
    font-size: 15px;
    text-align: center;
    height: 3vh;
    width: 20vw;
    border-radius: 5px;
    margin: 20px;
    background: whitesmoke;
  }
  
  .firstSearchForm input[type=date] {
    display: flex;
    height: 3vh;
    width: 10vw;
    border-radius: 5px;
    background: whitesmoke;
  }
  
  .firstSearchForm button {
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    width: 8vw;
    margin: 15px;
    cursor: pointer;
    transition: all .3s;
  }

  .firstSearchForm button:hover {
    background: #F5C634;
  }

  .firstSearchForm button:active {
    background: whitesmoke;
  }

  #titulo {
    margin-top: 20vh;
    font-size: 65px;
  }

  .videoHome {
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  .firstDatesContainer {
    display: flex;
  }

  @media screen and (max-width: 1300px) {
    
    .firstSearchForm input[type=text] {
      text-align: center;
      height: 30px;
      width: 250px;
    }
    
    .firstSearchForm input[type=date] {
      height: 25px;
      width: 150px;
      border-radius: 5px;
      background: whitesmoke;
    }

    .firstSearchForm button {
      font-size: 13px;
      height: 35px;
      width: 70px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .firstDatesContainer label {
      font-size: 20px;
    }
    #titulo {
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 430px) {
    
  }