  .searchResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }

  .searchResults a:link, a:visited {
    text-decoration: none;
    color: black;
  }

  .result {
    max-width: 45vw;
    min-height: 25vh;
    transition: all 0.3s;
    background: whitesmoke;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .result:hover {
    transform: scale(1.02);
    color: black;
  }

  .result:active {
    background: #F5C634;
  }
  
  .result {
    border: 1px solid black;
    width: 75vw;
    margin: 10px;
  }

  .result ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  
  .result li {
    padding: 5px;
  }

  .resultImage {
    background: url('../icons/houseIreneFlorentina.jpg') no-repeat;
    background-size: contain;
    width: 10vw;
    height: 18vh;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: inset 2px 3px 5px 0 rgba(150, 150, 150, 0.75);
  }

  .searchFilters {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    box-shadow: 1px 2px 1px 2px rgba(150, 150, 150, 0.75);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 7vh;
    padding: 10px;
    left: 9vw;
    min-height: 40vh;
    max-width: 20vw;
  }

  .filterContainer label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .filterContainer label p {
    margin: 10px;
  }

  .filterContainer .otrosFiltros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .searchButton {
    background: url('../icons/magnifying-glass.png') no-repeat;
    background-size: contain;
    border: none;
    height: 3vh;
    width: 1.5vw;
    padding: 10px;
    margin: 0 20px 0 15px;
    cursor: pointer;
    transition: all .3s;
  }

  .searchButton:hover {
    transform: scale(1.1);
  }

  .searchFilters input[type=text] {
    height: 3vh;
    font-size: 15px;
    padding-right: 10px;
    margin-right: 3px;
    border-radius: 5px;
  }

  .moreFilters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    border-radius: 5px;
    transition: all .3s;
    border: 1px black solid;
    padding: 5px;
    margin-right: 5px;
    background: rgb(235, 235, 235);
    cursor: pointer;
  }

  .moreFilters:hover {
    background: #F5C634;
  }

  .moreFilters:active{
    background: whitesmoke;
  }

  .searchDate {
    display: flex;
    flex-direction: column;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .pagination .back {
    background: url('../icons/double-left-arrows-symbol.png') no-repeat;
    background-size: contain;
    height: 2vh;
    width: 1vw;
    border: none;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: all .3s;
  }

  .pagination .forward {
    background: url('../icons/fast-forward-double-right-arrows-symbol.png') no-repeat;
    background-size: contain;
    height: 2vh;
    width: 1vw;
    border: none;
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: all .3s;
  }

  .pagination button:hover {
    transform: scale(1.1);
  }

  .createHomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .createHomeContainer h1 {
    font-family: 'lobster_twobold_italic';
    font-size: 45px;
  }

  .createHomeForm {
    border: 1px solid black;
    border-radius: 5px;
    min-height: 55vh;
    max-height: 90vh;
    min-width: 50vw;
    max-width: 90vw;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
    background: whitesmoke;
  }

  .createHomeForm, .updateHomeContent, .showHomeContent {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    min-height: 55vh;
    max-height: 80vh;
    min-width: 50vw;
    max-width: 70vw;
    box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
    background: whitesmoke;
  }

  .createHomeForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .createHomeForm input:not([type=checkbox]) {
    height: 3vh;
    width: 30vw;
    margin: 5px;
  }

  .homeFormOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.publicarHome {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  transition: all .3s;
  cursor: pointer;
}

.publicarHome:hover {
  background: #F5C634;
}

.publicarHome:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.myHomesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.myHomes {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
}

.myHomesContainer ul {
  padding-left: 0;
  list-style: none;
}

.myHomesContainer a {
  border: 1px solid black;
  border-radius: 5px;
  height: 3vh;
  width: 10vw;
  padding: 5px;
  transition: all .3s;
}

.myHomesContainer a:hover {
  background: #F5C634;
}

.myHomesContainer a:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.updateHomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateHomeContent ul {
  list-style: none;
  padding-left: 0;
}

.homeBookingsContent {
  background: whitesmoke;
}

.homeBookingsContent ul {
  list-style: none;
  padding-left: 0;
}

.errorCreacion {
  color: #781D0C;
  font-weight: bold;

}

.showHomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.showHomeContent ul {
  list-style: none;
  padding-left: 0;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.showHomeContent .showHomeStars {
  margin: 20px 0 10px 0;
}

.showHomeData {
  display: flex;
  margin-top: 35px;
}

.pisoImagen {
  width: 15vw;
  height: 25vh;
  background-size: cover;
}