.tabs {
    width: 30vw;
    display: flex;
    margin: 20px 10px 50px;
    position: relative;
}

.tabs a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 5px;
    margin-right: 6px;
    background-color: whitesmoke;
    transition: all .3s;
}

.tabs a:hover {
    color: #d8ad2e;
}

.tabs .active {
    background-color: #F5C634;
    transform: scale(1.1);
}

.tabs::after {
    height: 40px;
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    top: 35px;
}

.tabsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabOption {
    background: whitesmoke;
    border-radius: 5px;
}
